<div id="footer">
  <div id="footer-inner"> 
    <hr style="margin-top:0;"/>
    <p class="pagination-centered">Framgia Viet Nam Co.,Ltd<br>
9F VietA building, Duy Tan street, Cau Giay district, Hanoi, Vietnam </p>
    <p class="pagination-centered">© 2014 Framgia, Inc. All rights reserved.</p>
    <p class="pagination-centered">Company name in Vietnamese</p>
    <p class="pagination-centered">Start date: November 2012</p>
    <p class="pagination-centered">General director: Kazunari Fujimoto</p>
    <p class="pagination-centered">Number of employee: 120</p>
  </div>
</div>