<div id="header" class="hidden-phone">
  <div class="header-inner">
    <h1 id="img-logo-box">
      <%= link_to image_tag("logo_framgia.png", border: "0", id: "img-logo-box", width: 134, height: 40), root_path %>
    </h1>
    <div id="gnav-box">
      <div class="header-btn-box">
        <%= link_to "Đăng Ký", new_entry_path, class: "btn btn-primary btn-alt ga-top-linkto-signup" %>
      </div>
      <div class="header-menu-box hidden-phone">
        <% link_to "Lời Ngỏ", "#{root_path}#header-image-box", class: "scroll" %>
        <% link_to "Văn Hóa", "#{root_path}#jobs-culture-container", class: "scroll" %>
        <% link_to "Team", "#{root_path}#jobs-team-container", class: "scroll" %>
        <% link_to "Công Việc", "#{root_path}jobs-positions-container", class: "scroll" %>
      </div>
    </div>
  </div>
</div>
<!-- MENU MOBILE -->
<div class="navbar navbar-fixed-top visible-phone" id="navbar-mobile">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" DATA-TOGGLE="collapse" DATA-TARGET=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "", root_path, class: "logo-box-small" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><% link_to "Lời Ngỏ", "#{root_path}#header-image-box", class: "scroll" %></li>
          <li><% link_to "Văn Hóa", "#{root_path}#jobs-culture-container", class: "scroll" %></li>
          <li><% link_to "Team", "#{root_path}#jobs-team-container", class: "scroll" %></li>
          <li><% link_to "Công Việc", "#{root_path}jobs-positions-container", class: "scroll" %></li>
        </ul>
      </div>
      <!-- /.nav-collapse --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.navbar-inner --> 
</div>