<div id="page-jobs-apply">
  <div class="container middle">
    <a href="/" class="jobs-back-link">←Quay lại</a>
    <hr class="margin-small-white" />
    <h3>Bridge SE</h3>
    <p>Luôn yêu những gì thuộc về Nhật Bản, dù cho tình yêu đó đôi khi nhiều sóng gió. 
Hãy đến với bộ phận Kĩ sư cầu nối (BSE) để cùng chúng tôi xây những cây cầu đẹp, dễ đi và bằng phẳng cho tất cả mọi người.  
"Làm theo những gì mọi người sai bảo, với một quan điểm vững vàng".
"Thật thà nhưng không dại dột".</p>
    <p><img src="assets/team-brSE.png" alt="team BrSE" width="800" height="340"></p>
    <h5>Mô tả công việc</h5>
    <ul>
    <li>Kỹ sư cầu nối giữa đội phát triển ở Việt Nam với khách hàng Nhật.</li>
    <li>Trao đổi trực tiếp với khách hàng qua email, skype (or chatwork) để điều chỉnh thống nhất yêu cầu.</li>
    <li>Quản lý tiến độ dự án, báo cáo công việc định kỳ với khách hàng và ban giám đốc.</li>
    <li>Loại hình dự án: Các hệ thống web-application( sử dụng ngôn ngữ Ruby, PHP, Java, ASP.NET. Các game ứng dụng trên nền smartphone ( iOS, Android, Unity).</li>
    </ul>
    <h5>Yêu cầu công việc</h5>
    <ul>
    <li>Tốt nghiệp đại học chính quy chuyên ngành công nghệ thông tin.</li>
    <li>Tiếng Nhật tương đương N2 trở lên.</li>
    <li>Có kinh nghiệm 1 năm trở lên ở vị trí tương ứng. Ưu tiên những ứng viên đã có kinh nghiệm làm việc hoặc hoặc tập tại Nhật Bản.</li>
    <li>Hiểu biết về lập trình hướng đối tượng.</li>
    <li>Thành thạo và có kinh nghiệm sử dụng ít nhất một trong các ngôn ngữ Ruby, PHP, Java, ASP.NET, Objective-C, Android SDK, Unity.</li>
    <li>Có ý thức trách nhiêm cao , có tính kỷ luật và cẩn thận, có tinh thần làm việc teamwork.</li>
    <li>Có khả năng leadership, tổ chức sắp xếp công việc một cách hiệu quả.</li>
    </ul>
    <h5>Chế độ đãi ngộ</h5>
    <ul>
    <li>Được hưởng bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp theo chế độ nhà nước ban hành.</li>
    <li>Lương tháng 13, thực hiện review kết quả công việc, thưởng theo kết quả dự án, xét tăng lương 6 tháng một lần.</li>
    <li>Được hưởng trợ cấp ăn trưa 40.000VND/ngày làm việc thực tế.</li>
    <li>Trợ cấp Beauty Care 300.000VND/Tháng với nhân viên nữ ký hợp đồng chính thức.</li>
    <li>Trợ cấp ngoại ngữ và các chứng chỉ IT liên quan (hình thức: khen thưởng, tăng lương...)</li>
    <li>Được tham gia các Câu lạc bộ dưới sự tài trợ chính thức của Công ty: CLB Bóng đá, các CLB Game, CLB dạy và học tiếng Nhật, tham gia các bữa tiệc, hoạt động ngoại khóa của công ty ...</li>
    <li>Du lịch hàng năm.</li>
    <li>Khám sức khỏe định kỳ 1 năm/1 lần tại bệnh viên uy tín.</li>
    </ul>
    <h5>Lương & hợp đồng làm việc:</h5>
    <ul>
    <li>Thử việc 2 tháng, lương thỏa thuận</li>
    <li>Sau thử việc, ký hợp đồng chính thức, lương thỏa thuận theo kết quả thử việc</li>
    <li>Mức lương: US $800 – US $1500</li>
    </ul>
    <h5>Chi tiết khác:</h5>
    <ul>
    <li>Yêu cầu ghi rõ vị trí tuyển dụng: Bridge SE</li>
    <li>Trong CV yêu cầu ghi rõ về kinh nghiệm làm việc và quá trình học tập của bản thân bằng tiếng Nhật</li>
    <li>Ứng viên phải làm một bài kiểm tra khi đến phỏng vấn</li>
    </ul>
    <div class="modal-footer"><a class="btn btn-alt btn-primary" href="<%= new_entry_path("entry[m_job_id]" => 2) %>">Apply Now</a></div>
  </div>
</div>
